<div class="navbar-fixed">
    <nav class="deep-orange" id="nav">
        <div class="nav-wrapper">
            <% if (!locals.hideMenu) { %>
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
            <% } %>
            <a href="#" class="brand-logo center"><%= title %></a>
            <% if (locals.showBack) { %>
                <ul id='nav-mobile' class="left">
                    <li><a href='#' onclick="window.history.back()"><i class="material-icons">arrow_back</i></a></li>
                </ul>
            <% } %>
            <ul id="nav-mobile"class="right">
                <li><a onclick="refresh()"><i class="material-icons">refresh</i></a></li>
            </ul>
        </div>
    </nav>
</div>
<% if (!locals.hideMenu) { %>
    <ul id="slide-out" class="sidenav" id="sidenav">
        <li><div class="user-view" style="height: 100%;">
            <div class="background">
                <img src="/public/img/orange.png" id="sidebar-img" width="100%" height="100%">
            </div>
    
            <a href="/app/profile"><span class="white-text name" id="username-nav"><%= locals.username %> </span></a>
            <a href=""><span class="white-text email"></span></a>
        </div></li>
        <li><a href="/app" class="waves-effect darkmode-text" ><i class="material-icons darkmode-text">home</i>Home</a></li>
        <li><a href="/app/friends" class="waves-effect darkmode-text" ><i class="material-icons darkmode-text" >groups</i>Friends</a></li>
        <li><a href="/app/watchlist" class="waves-effect darkmode-text"><i class="material-icons darkmode-text">list</i>Watchlist</a></li>
        <li><a href="/app/profile" class="waves-effect darkmode-text" ><i class="material-icons darkmode-text" >account_circle</i>Profile</a></li>
        <li><div class="divider"></div></li>
        <li><a href="/app/settings" class="waves-effect darkmode-text"><i class="material-icons darkmode-text">settings</i>Settings</a></li>
        <li><a href="https://gitreports.com/issue/Xjarlie/tv-recommend" class="waves-effect darkmode-text" style="font-weight: bold;"><i class="material-icons darkmode-text">warning</i>Feedback</a></li>
    </ul>
    
<% } %>

<br />