<div class="navbar">
    <div class="left">
        <% if (!locals.hideMenu) { %>
            <button class="nav-button icon">Menu</button>
        <% } %>
        <% if (locals.showBack) { %>
            <button class="nav-button icon" onclick=<%= locals.customBack ? customBack : 'goBack()' %>>Back</button>
        <% } %>
    </div>
    <div class="center">
        <a href="/app"><%= title %></a>
    </div>
    <div class="right">
        <% if (locals.search) { %>
            <button onclick="toggleSearch()" class="nav-button icon">Search</a></li>
        <% } %>
        <button onclick="refresh()" class="nav-button icon">Refresh</button>
    </div>


</div>
<% if (!locals.hideMenu) { %>
    <div class="sidebar">
        <a href="/app" class="navlink">Feed</a>
        <a href="/app/friends" class="navlink">Friends</a>
        <a href="/app/watchlist" class="navlink"></a>
        <a href="/app/profile" class="navlink bottom profile">
            <span class="displayName"><%= locals.user.displayName %></span>
            <span class="username">@<%= locals.user.username %></span>
        </a>
        <a href="/app/settings" class="navlink bottom">Settings</a>
        <span class="version">v2.4</span>
    </div>
<% } %>

<br />

<% if (locals.search) { %>
    
    <script>
        function toggleSearch() {
            const searchBox = document.querySelector('#search-row');
            if (searchBox.getAttribute('hidden')) {
                searchBox.removeAttribute('hidden');
                document.querySelector('#search-box').value = '';
                searchBox.querySelector('#search-box').focus();

            } else {
                searchBox.setAttribute('hidden', 'true');
                document.querySelector('#search-box').value = '';
                clearSearch();
            }
        }
    </script>
<% } %>
