<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>

    <body>

        <%- include('./partials/nav', { title: 'Add Friend', username: username, hideMenu: true, showBack: true, customBack: 'redirect("/app/friends")' }); %>
        
        <div class="container">
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input id="search-box" type="text" placeholder="Enter a username to search"/>
                    <label for="search-box">Search</label>
                </div>
            </div>
        </div>

        <%- include('./partials/foot') %>
        <script src="https://unpkg.com/lunr/lunr.js"></script>
        <script>
            M.AutoInit();

            const dataString = '<%- locals.users %>';
            console.log(dataString);

        </script>
    </body>
</html>