<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>

    <body>

        <%- include('./partials/nav', { title: 'Add Friend', username: username, hideMenu: true, showBack: true, customBack: 'redirect("/app/friends")' }); %>
        
        <div class="container">
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input id="search-box" type="text" />
                    <label for="search-box">Search Username</label>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn deep-orange" style="width: 100%;" onclick="searchUser()"><i class="material-icons left">search</i>Search</button>
            </div>
            <hr />
            <div class="row">
                <div class="card" id="user-display" hidden>
                    <span class="card-title" id="card-displayname">Charlie Appleton</span>
                    <p id="card-username"></p>
                </div>
            </div>
        </div>

        <%- include('./partials/foot') %>
        <script>
            M.AutoInit();

            async function searchUser() {
                const userToSearch = document.querySelector('#search-box').value.trim();

                const response = await fetch(`/api/users/search/${userToSearch}`);
                const status = await response.status;
                const json = await response.json();

                console.log(status, json);

                if (status == 200) {
                    
                }
            }
        </script>
    </body>
</html>