.card {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
    max-width: 768pt !important;
    border-radius: 1em !important;
    display: block !important;

    /* background-color: #121212;
    box-shadow: none; */
}

[hidden] {
    display: none !important;
}

.container-fluid {
    /* padding-left: 0px;
    padding-right: 0px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6em;
}

.navbar-fixed {
    /* margin-bottom: 0; */
    /* padding-bottom: 0; */
    height: 50px;
}

.card-content {
    padding: 1.5em !important;
    width: 100%;
}

.card-title {
    font-size: 1.5em !important;
}

.rating {
    padding-bottom: 0.5rem;
}

.star {
    font-size: 1.5em;
}

hr {
    color: grey !important;
    background-color: grey !important;
    border-color: grey !important;
}

.card-content {
    border-top-left-radius: 1em !important;
    border-top-right-radius: 1em !important;
    display: block !important;
    padding-bottom: 0 !important;
}

.card-action {
    padding-left: 0.5em !important; 
    padding-right: 0.5em !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
    border-bottom-left-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
}

.card-action .minor-button, .card-action .minor-button i {
    color: #444444;
    font-weight: 500;
}

.card-action button i {
    font-size: 1.2em;
}
