.card {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
    max-width: 768pt !important;
    border-radius: 1em;

    /* background-color: #121212;
    box-shadow: none; */
}

.container-fluid {
    /* padding-left: 0px;
    padding-right: 0px; */
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-fixed {
    /* margin-bottom: 0; */
    /* padding-bottom: 0; */
    height: 50px;
}

.card-content {
    padding: 1.5em !important;
    width: 100%;
}

.card-title {
    font-size: 1.5em !important;
}

.rating {
    padding-bottom: 0.5rem;
}

.star {
    font-size: 1.5em;
}

hr {
    color: grey !important;
    background-color: grey !important;
    border-color: grey !important;
}