:root {
    --color-primary: #FF8B66;
    --text-primary: white;

    --color-secondary: #FFD1C2;
    --text-secondary: black;

    --color-bg: #FFD1C2;
    --color-card-bg: white;

}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--color-bg);
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.card {
    background-color: var(--color-card-bg);
    border-radius: 8px;

    margin: 8px 16px;
    padding: 8px;

    display: flex;
    flex-direction: column;
}

.button {
    border-radius: 8px;

    font-size: 20px;
    padding: 10px;

    outline: none;
    border: none;
}

.primary {
    background-color: var(--color-primary);
    color: var(--text-primary);
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--text-secondary);
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input-field input {
    background-color: rgba(255, 255, 255, 70%);
    border: none;
}


/* NAVBAR */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    position: relative;

}

.nav-button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .center a {
    text-decoration: none;
    color: inherit;

    font-weight: 300;
    font-size: 32px;
}


/* FAB */
.button.fab {
    position: absolute;
    bottom: 20px;
    right: 20px;
}